body{
    border: 0;
    padding: 0;
}

h1{
    background-color: rgb(102, 13, 245);
    text-align: center;
    padding: 10px;
    margin: 0;
}

h2{
    background-color: rgb(39, 133, 136);
    text-align: center;
    padding: 7px;
    margin: 0

}